resource "{{.Prefix}}_user" "example" {
  username            = "example"
  password_wo         = "test1234"
  password_wo_version = 1
  first_name          = "test"
  last_name           = "user"
  email               = "test@example.com"
  is_superuser        = true
}
