resource "{{.Prefix}}_organization" "example" {
  name        			= "Example Organization"
}
resource "{{.Prefix}}_role_definition" "example" {
  name         = "Example Role Definition"
  description  = "Example role definition"
  content_type = "shared.organization"
  permissions   = ["shared.member_organization", "shared.view_organization"]
}
resource "{{.Prefix}}_user" "example" {
  username      = "example"
  first_name 	= "First"
  last_name 	= "Last"
  email			= "example@example.com"
  password 		= "example-password"
}
resource "{{.Prefix}}_role_user_assignment" "test" {
  object_id       = {{.Prefix}}_organization.example.id
  role_definition = {{.Prefix}}_role_definition.example.id
  user            = {{.Prefix}}_user.example.id
}
